# Ignore data and outputs
data/raw/
data/chunks/
data/processed/

# Ignore training outputs
training/checkpoints/
training/logs/

# Ignore generated outputs
generated_music.mid

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
venv/
.envrc

# Colab and Jupyter artifacts
*.ipynb

